<div class="dashboard">
    <h2>Dashboard</h2>

    <div class="cards">
        <div class="card">
            <div class="label">Startups</div>
            @if ((totalStartups$ | async) !== null && (totalStartups$ | async) !== undefined) {
                <div class="value">
                    {{ totalStartups$ | async }}
                </div>
            } @else {
                <ng-template>
                    <div class="value">Loading…</div>
                </ng-template>
            }
        </div>
        <div class="card">
            <div class="label">Partners</div>
            @if ((totalPartners$ | async) !== null && (totalPartners$ | async) !== undefined) {
                <div class="value">
                    {{ totalPartners$ | async }}
                </div>
            } @else {
                <ng-template>
                    <div class="value">Loading…</div>
                </ng-template>
            }
        </div>
        <div class="card">
            <div class="label">Events</div>
            @if ((totalEvents$ | async) !== null && (totalEvents$ | async) !== undefined) {
                <div class="value">
                    {{ totalEvents$ | async }}
                </div>
            } @else {
                <ng-template>
                    <div class="value">Loading…</div>
                </ng-template>
            }
        </div>
        <div class="card">
            <div class="label">News</div>
            @if ((totalNews$ | async) !== null && (totalNews$ | async) !== undefined) {
                <div class="value">
                    {{ totalNews$ | async }}
                </div>
            } @else {
                <ng-template>
                    <div class="value">Loading…</div>
                </ng-template>
            }
        </div>

        @if (isFounder$ | async) {
            <div class="card">
                <div class="label">My Startup Views</div>
                @if ((founderStartupViews$ | async) !== null && (founderStartupViews$ | async) !== undefined) {
                    <div class="value">
                        {{ founderStartupViews$ | async | number }}
                    </div>
                } @else {
                    <ng-template>
                        <div class="value">Loading…</div>
                    </ng-template>
                }
            </div>
            <div class="card">
                <div class="label">My Startup News Views</div>
                @if ((founderNewsViews$ | async) !== null && (founderNewsViews$ | async) !== undefined) {
                    <div class="value">
                        {{ founderNewsViews$ | async | number }}
                    </div>
                } @else {
                    <ng-template>
                        <div class="value">Loading…</div>
                    </ng-template>
                }
            </div>
        }

        <div class="card">
            <div class="label">Total Startup Views (Site)</div>
            @if ((totalSiteViews$ | async) !== null && (totalSiteViews$ | async) !== undefined) {
                <div class="value">
                    {{ totalSiteViews$ | async | number }}
                </div>
            } @else {
                <ng-template>
                    <div class="value">Loading…</div>
                </ng-template>
            }
        </div>
    </div>
</div>